@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #0af761; /*#5fd58b*/
  --bg-primary: #1d265c;
  --bg-secondary: #404a87;
}

.nav-item {
  @apply font-bold;
}

.active-item {
  @apply text-[var(--main-color)];
}

.custom-btn-outline {
  @apply hover:bg-[var(--bg-secondary)] hover:text-[var(--main-color)] py-2 rounded-lg border-2 border-[var(--bg-primary)] bg-transparent text-[var(--bg-secondary)] duration-300;
}
